#editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.other-cursor-selection {
  height: 16px;
  background-color: #0d5;
  position: absolute;
  z-index: 99;
  opacity: .2;
  top: 0;
  left: 0;
}

.other-cursor {
  height: 16px;
  width: 1px;
  background-color: #0d5;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
}
